.container-fluid.ceremony {
	/* background-color: blue; */
	height: auto;
	padding: 4rem 1rem;
	text-align: center;
}

/* Desktop */
@media (min-width: 150em) {
	.container-fluid.ceremony {
		padding: 4rem 25rem;
	}
}

@media (min-width: 130em) and (max-width: 150em) {
	.container-fluid.ceremony {
		padding: 4rem 20rem;
	}
}

@media (min-width: 107em) and (max-width: 130em) {
	.container-fluid.ceremony {
		padding: 4rem 15rem;
	}
}

@media (min-width: 80em) and (max-width: 107em) {
	.container-fluid.ceremony {
		padding: 4rem 10rem;
	}
}

@media (min-width: 64.01em) and (max-width: 80em) {
	.container-fluid.ceremony {
		padding: 4rem 5rem;
	}
}

@media (min-width: 64.01em) {
	.church-venue-text {
		font-size: 1.5rem;
	}
}

/* Tablet */
@media (min-width: 47em) and (max-width: 64em) {
	.church-venue-text {
		font-size: 1.5rem;
	}
}
