.container-fluid.faqs {
	background-color: #fff;
	color: #303030;
	padding: 4rem 4rem;
	text-align: center;
}

.faq-body {
	margin-top: 3rem;
}

/* Desktop */
@media (min-width: 150em) {
	.container-fluid.faqs {
		padding: 8rem 45rem;
	}
}

@media (min-width: 130em) and (max-width: 150em) {
	.container-fluid.faqs {
		padding: 8rem 35rem;
	}
}

@media (min-width: 107em) and (max-width: 130em) {
	.container-fluid.faqs {
		padding: 8rem 25rem;
	}
}

@media (min-width: 80em) and (max-width: 107em) {
	.container-fluid.faqs {
		padding: 4rem 10rem;
	}
}

@media (min-width: 64.01em) and (max-width: 80em) {
	.container-fluid.faqs {
		padding: 4rem 20rem;
	}
}

@media (min-width: 64.01em) {
	.container-fluid.faqs {
		text-align: left;
	}

	.container-fluid.faqs h2 {
		text-align: left;
	}
}
