.footer {
    background-color: #303030;
    color: #c5c5c5;
    font-size: 0.9rem;
	padding: 4rem 4rem;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#footer-header {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-text {
    display: none;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media-icons .far {
    margin-right: 0;
}

.social-media-icons span:not(:last-child) {
    margin-right: 2rem;
}

.copyright-text {
    margin-top: 2rem;
}

.footer a:not(a.nav-link) {
    color: #c5c5c5;
	transition: color 0.2 ease-out;
	-webkit-transition: color 0.2s ease-out;
}

.footer a:hover:not(a.nav-link) {
	color: #ffffff;
}

/*<----- Hover.css ----->*/
/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  
/*<----- Media Queries ----->*/
/* Desktop */
@media (min-width: 150em) {
	.container-fluid.footer {
		padding: 8rem 45rem;
	}
}

@media (min-width: 130em) and (max-width: 150em) {
	.container-fluid.footer {
		padding: 8rem 35rem;
	}
}

@media (min-width: 107em) and (max-width: 130em) {
	.container-fluid.footer {
		padding: 8rem 25rem;
	}
}

@media (min-width: 80em) and (max-width: 107em) {
	.container-fluid.footer {
		padding: 4rem 10rem;
	}
}

@media (min-width: 64.01em) and (max-width: 80em) {
	.container-fluid.footer {
		padding: 4rem 15rem;
	}
}