.container-fluid.hotels {
	/* background-color: blueviolet; */
	padding: 4rem 1rem;
	text-align: center;
}

.card {
	margin-top: 2rem;
}

.card-website-link {
	margin-right: 1rem;
}

#hotel-los-juaninos-card {
	border-color: transparent;
	box-shadow: 0 0 2rem #303030;
}

.hotel-warning {
	font-size: 0.8rem;
	background-color: #efe7da;
	border-radius: 0.3rem;
	padding: 0.7rem;
}

.kayak-logo {
	width: 7rem;
	height: auto;
}

.kayak-button {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0.3rem;
	border-style: solid;
	color: rgb(255, 92, 0);
	font-size: 0.8rem;
	font-weight: 700;
	padding: 0.75rem 2rem;
	text-decoration: none;
	transition: transform 0.6s; /* Animation */
	vertical-align: middle;
}

.kayak-button:active {
	text-decoration: none;
}

.kayak-button:hover {
	border-color: transparent;
	transform: scale(
		1.05
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.kayak-button:visited {
	border-color: transparent;
}

.ribbon {
	width: 150px;
	height: 150px;
	position: absolute;
	top: -10px;
	right: -10px;
	overflow: hidden;
}

.ribbon span {
	width: 225px;
	padding: 10px 0px;
	background-color: #efe7da;
	font-size: 0.7rem;
	display: block;
	position: absolute;
	top: 30px;
	left: -25px;
	transform: rotate(45deg);
	text-align: center;
	color: #303030;
	text-transform: uppercase;
	font-weight: bold;
}

.ribbon:after,
.ribbon:before {
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid #efe7da;
	border-right: 5px solid transparent;
	border-left: 5px solid #efefe7da;
	position: absolute;
}

.ribbon:before {
	bottom: 0.831rem;
	right: 0;
}

.ribbon:after {
	top: 0;
	left: 0.8rem;
}

/* Desktop */
@media (min-width: 150em) {
	.container-fluid.hotels {
		padding: 12rem 45rem;
	}

	#hotels-h2 {
		text-align: left;
	}

	.hotels-text {
		text-align: left;
	}
}

@media (min-width: 130em) and (max-width: 150em) {
	.container-fluid.hotels {
		padding: 12rem 35rem;
	}
}

@media (min-width: 107em) and (max-width: 130em) {
	.container-fluid.hotels {
		padding: 12rem 25rem;
	}
}

@media (min-width: 80.75em) and (max-width: 107em) {
	.container-fluid.hotels {
		padding: 12rem 10rem;
	}
}

@media (min-width: 64.01em) {
	#hotels-h2 {
		text-align: left;
	}

	.hotels-text {
		text-align: left;
	}
}

/* Hotel cards */
@media (min-width: 62em) {
	.card-body {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.hotels-flex-2 {
		bottom: 0;
		position: absolute;
	}

	.white-space {
		height: 3em;
		width: auto;
	}
}
