.flex-master {
	background: url("../images/jumbotron/ivan_marilynn_front_mobile.webp");
	background-position: center center;
	background-size: cover;
	border-radius: 0;
	color: #fff;
	height: 100vh;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.jumbotron-h1 {
	font-family: "Great Vibes", serif;
	font-size: 4rem;
	text-shadow: 1px 1px #bebebe;
}

.flex-2 {
	bottom: 0;
	position: absolute;
}

.jumbotron-text {
	font-family: "Gentium Basic", serif;
	font-size: 1rem;
	font-style: italic;
	text-shadow: 1px 0px #bebebe;
}

.jumbotron-rsvp {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

#rings-image {
	width: 4rem;
	height: 4rem;
}

.rsvp-button {
	background-color: #fff;
	border-color: transparent;
	border-radius: 0.3rem;
	border-style: solid;
	color: #303030;
	font-size: 1.5rem;
	padding: 0.75rem 2rem;
	text-decoration: none;
	transition: transform 0.6s; /* Animation */
	vertical-align: middle;
}

.rsvp-button:active {
	text-decoration: none;
}

.rsvp-button:hover {
	background-color: #fff;
	border-color: transparent;
	transform: scale(
		1.1
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.rsvp-button:visited {
	border-color: transparent;
}

.resume-button a:hover {
	text-decoration: none;
}

.invitation-image {
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
}
