.navbar {
	background-color: #fff;
	border-style: solid;
	border-color: transparent;
	border-width: 0 0 0.1rem 0;
	box-shadow: 0 0 2rem #303030;
	
}

/* Removes the default styling of the Bootstrap dropdown menu */
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: transparent;
}

/* Changes the font weight of the links inside the dropdown menu  */
.dropdown-item {
	font-weight: 500;
}

/* When you click on Reception, the color stays gray inside of white */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #808080;
}

/* The drop down menu appears when you hover over the link */
.dropdown:hover>.dropdown-menu {
	display: block;
}

/* The drop down menu disappears if you try to access the links inside of it  */
.dropdown-menu {
	margin: -0.125rem 0 0;
}

.navbar-dark .navbar-toggler {
	border-color: transparent;
	color: #303030;
	margin: auto;
	padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #808080;
	font-family: "Montserrat", sans-serif;
	margin-left: 1rem;
	transition: color 0.2 ease-out;
	-webkit-transition: color 0.2s ease-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #000;
}

#nav-divider:hover {
	color: #808080;
}

#nav-divider-horizontal {
	border-bottom: #dddddd 0.1rem solid;
}

.fa-bars {
	margin: auto 0.3rem auto 0;
}

.menu-text {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: auto 0;
}

/* Remove vertical divider when in mobile view */
@media (max-width: 74.9375em) {
	#nav-divider {
        display: none;
    }
}

/* Remove horizontal divider when in desktop view */
@media (min-width: 75em) {
	#nav-divider-horizontal {
        display: none;
    }
}