html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.fas {
	margin-right: 0.5rem;
}

.far {
	margin-right: 0.5rem;
}

.fas.fa-dollar-sign {
	margin-right: 0;
}

a:not(a.nav-link) {
	color: #808080;
	text-decoration: underline;
	transition: color 0.2 ease-out;
	-webkit-transition: color 0.2s ease-out;
}

a:hover:not(a.nav-link) {
	color: #000;
}

h2 {
	font-family: "Great Vibes", serif;
	font-size: 3rem;
	margin-bottom: 2rem;
}
