.container-fluid.travel-information {
	background-color: #efe7da;
	padding: 4rem 4rem;
	text-align: center;
}

.row.travel-info-row {
	margin-top: 3rem;
}

.travel-information-icons {
	height: 3rem;
	margin-bottom: 1rem;
	width: 3rem;
}

/* Desktop */
@media (min-width: 151em) {
	.container-fluid.travel-information {
		padding: 12rem 45rem;
	}
}

@media (min-width: 130.25em) and (max-width: 150.9em) {
	.container-fluid.travel-information {
		padding: 12rem 35rem;
	}
}

@media (min-width: 107em) and (max-width: 130.24em) {
	.container-fluid.travel-information {
		padding: 12rem 25rem;
	}
}

@media (min-width: 80.75em) and (max-width: 106.9em) {
	.container-fluid.travel-information {
		padding: 12rem 10rem;
	}
}

@media (min-width: 64.01em) and (max-width: 80.74em) {
	.container-fluid.travel-information {
		padding: 12rem 20rem;
	}
}

@media (min-width: 64.01em) {
	.container-fluid.travel-information {
		text-align: right;
	}

	.travel-information-icons {
		height: 5rem;
		margin-bottom: 0rem;
		width: 5rem;
	}

	.row.travel-info-row {
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
	}
}

/* Tablet */
@media (min-width: 47em) and (max-width: 64em) {
	.row.travel-info-row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
